.virtual-shopping {
  .section5 {
    position: relative;
    display: flex;

    &__image {
      background-size: cover;
      background-position: center 30%;
      height: 349px;
      width: 100%;

      @include media-breakpoint-up(md) {
        height: 524px;
      }

      @include media-breakpoint-up(lg) {
        height: 698px;
      }
    }

    &__questions {
      width: 100%;
      padding: 32px;
      color: $white;
      background-color: $darkGrey;
      text-align: center;
    }
  }
}
