.virtual-shopping {
  .section2 {
    background-color: $darkGrey;
    color: $white;
    padding: 32px;

    @include media-breakpoint-up(lg) {
      padding: 64px 142px;
    }

    img {
      margin-right: 8px;
    }

    p {
      margin-top: 16px;

      @include media-breakpoint-up(lg) {
        margin-top: 0px;
      }
    }

    &__whatsapp-info {
      display: flex;
      flex-direction: row;

      &:nth-of-type(even) {
        margin-top: 8px;
      }
    }
  }
}
