@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";

.virtual-shopping {
  * {
    box-sizing: border-box;
  }

  h1 {
    margin: 0;
    @include title;
  }

  p {
    margin: 0;
    @include text;
  }
}
