.image-with-description {
  &__image {
    height: 160px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }

  &__description {
    background-color: red;
  }
}
