.image-with-description {
  height: 400px;

  &__image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__description {
    background-color: red;
  }
}
