.product-card {
  display: flex;
  flex: 1;
  position: relative;
  height: 360px;
  min-width: 256px;

  @include media-breakpoint-up(md) {
    height: 598px;
    min-width: 448px;
  }

  &:nth-child(even) {
    margin: 0 16px;

    @include media-breakpoint-up(md) {
      margin: 0 24px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.3);

    h2 {
      position: absolute;
      color: white;
      text-align: center;
    }

    &__link {
      color: white;
      position: absolute;
      left: 24px;
      bottom: 24px;

      @include media-breakpoint-up(md) {
        left: 36px;
        bottom: 36px;
      }
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
