@mixin fontSize($size: 16px) {
  font-size: $size !important;
  font-size: #{$size / 16px}rem !important;
}

@mixin lineHeight($size: 16px) {
  line-height: normal !important;
  line-height: #{$size / 16px}rem !important;
}

@mixin title {
  font-family: Apercu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  @include fontSize(18px);
  @include lineHeight(18px);
}

@mixin text {
  font-family: Apercu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  @include fontSize(15px);
  @include lineHeight(18px);
}
